@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

* {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

#light {
  background-color: var(--light-background);
  color: black;
}

#dark {
  background-color: var(--dark-background);
  color: white;
}

.auth-page {
  transition: .3s;
  position: absolute;
  width: 100%;
  height: 100%;
}

#dark .login-form {
  background-color: var(--dark-form-background);
}

#light .login-form {
  background-color: var(--light-form-bacground);
}

.login-form {
  transition: .3s;
  position: absolute;
  width: 60%;
  height: 80%;
  left: 20%;
  top: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
}

.forms {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

#light .forms input {
  background-color: var(--light-form-background);
  border-color: var(--light-input-border);
  color: black;
}

#dark .forms input {
  background-color: var(--dark-form-background);
  border-color: var(--dark-input-border);
  color: white;
}

.forms input {
  grid-column-start: auto;
  border-width: 0.5px;
  border-width: 0;
  border-bottom-width: 2px;
  opacity: 1;
  font-size: 2vw;
}


input:invalid {
  border-color: red;
  border-style: solid;
}

input:focus {
  border-bottom-width: 3px;
  border-color: rgb(255, 255, 255);
  outline: none;
}

.forms p,
.change-form p {
  text-align: center;
  justify-self: center;
  align-self: end;
  font-size: 2.5vw;
}

.send-button {
  position: relative;
  width: 50%;
  height: 40%;
  border-radius: 10px;
  justify-self: center;
  align-self: end;
  font-size: 2vw;
  margin: 0;
}

.forms button {
  position: relative;
  width: 30%;
  height: 40%;
  align-self: start;
  justify-self: center;
  margin: 0;
  font-size: auto;
}

button {
  transition: .3s;
  border-width: 0px;
  background-color: rgb(23, 66, 207);
  cursor: pointer;
}

button:hover {
  background-color: rgb(16, 48, 152);
}


#dark .registration-form {
  background-color: var(--dark-form-background);
}

#light .registration-form {
  background-color: var(--light-form-bacground);
}

.registration-form {
  position: absolute;
  width: 60%;
  height: 80%;
  left: 20%;
  top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
}

.registration-form button {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.change-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-start: 1;
  grid-column-end: 3;
}

.change-form button {
  margin: 0;
  grid-row-start: 2;
  position: relative;
  width: 30%;
  height: 40%;
  justify-self: center;
  align-self: start;
}


@media  (min-width: 0) and (max-width: 1000px) {

  .login-form,
  .registration-form {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .forms input{
    font-size: 20px;
  }
  .forms p, .change-form p  {
    font-size: 1.5em;
  }
  .forms button, .change-form button {
    font-size: 1em;
    margin: 0;
    width: 30%;
  }
  .send-button{
    font-size: 20px;
  }
  
}