* {
  margin: 0;
  padding: 0;
}
:root {
  --dark-background: rgb(23, 23, 23);
  --dark-form-background: rgb(35, 35, 35);
  --dark-input-border: rgb(255, 255, 255);
  --dark-border: rgb(181, 181, 181);

  --light-background: #fff ;
  --light-form-bacground: #c0c0c0;
  --light-input-border: rgb(0, 0, 0);
  --light-border: rgb(210, 210, 210);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  overflow: visible;
}

header button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.MainButton{
  margin-left: 10px ;
}

header img {
  position: absolute;
  right: 3.5%;
  border-radius: 15px;
  width: 70px;
  height: 70px;
}

#MainButton {
  position: absolute;
  left: 0.5%;
}

#LogIn {
  position: absolute;
  right: 1%;
}

#Dropdown {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
  right: 1%;
  top: 90%;
  width: 10%;
  height: auto;
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  animation: growDown 150ms ease-in-out forwards;
  transform-origin: top center;
}

#Dropdown button {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  100% {
    transform: scaleY(1)
  }
}

#ErrorWindow{
  width: 70%;
  height: 50%;
  position: absolute;
  left: 15%;
  top: 25%;
  opacity: 1;
  z-index: 2;
  text-align: center;
  background-color: rgb(45, 45, 45);
  border-radius: 20px;
}

#ErrorText{
  position: relative;
  top:20%;
  text-align: center;
  color: white;
}
#ErrorButton{
  width: 30%;
  height: 15%;
  border-radius: 20px;
  border-width: 0px;
  position: absolute;
  left: 35%;
  top: 70%;
  color: white;
  font-size: 20px;
  background: linear-gradient(rgb(229, 0, 0), rgb(150, 0, 0));
}
